<span>
    {{item.name}}
    {{item.address}}
    {{item.categories}}
<div class="imageContainer">
  <img ng-src="{{item.thumbnailUrl}}" alt="My photo for {{item.themeDisplayName}}"/>
</div>
<div class="toolbar">
  <div class="authorInfo">
    <a target="_blank" href="{{item.ownerProfileUrl}}">
      <img ng-src="{{item.ownerProfilePhoto|profilePicture:24}}"
          alt="{{item.ownerDisplayName}}"
          width="24" height="24"/>
      <span>{{item.ownerDisplayName}}</span>
    </a>
  </div>
  <button class="button">Promote</button>

</div>
<div class="vote">
  <div class="count">{{item.numVotesWantToGo}}</div>
  <button class="voteButton" ng-class="item.voteClass" ng-show="item.canVoteWantToGo">
    I've been here
  </button>
</div>
<div class="vote">
  <div class="count">{{item.numVotesBeenThere}}</div>
  <button class="voteButton" ng-class="item.voteClass" ng-show="item.canVoteBeenThere">
    I want to go here
  </button>
</div>
</span>