    <div id="rhs_block">
        <div class="vk_rhsc kno-ec rhsvw">
            <div class="kno-card">
                <div class="kno-mrg" style="position:relative">
                    <ol>
                        <div class="kno-ibrg">
                            <div class="img-brk">
                                <div class="birrg">
                                    <ul><!--m-->
                                        <li class="bili bilik bilirk"
                                            style="width: 422px;">
                                            <div class="bicc"
                                                 style="height:160px;width: 422px;">
                                                <img ng-src="{{item.thumbnailUrl}}"
                                                    alt="Photo of the {{item.name}} in {{item.city}}, {{item.country}}" align="middle" border="0" height="160" name="imgthumb16"
                                                    class="th"
                                                    title="Photo of the {{item.name}} in {{item.city}}, {{item.country}}"
                                                    style="margin:0 -9px 0 0" width="422"></div>
                                        </li>
                                        <!--n--></ul>
                                </div>
                            </div>
                        </div>

                    </ol>
                </div>
            </div>
            <div class="kno-card">
                <div class="kno-ecr-t kno-ecr-t-w-st ">
                    <div>
                        <div class="kno-ecr-pt">{{item.name}}</div>
                        <div class="kno-ecr-st"><span class="kno-ecr-st-val">{{item.categories.join(', ')}}</span></div>
                    </div>
                    <div class="" style="margin-top:13px">
                        <div style="clear:both"></div>
                        <div style="height:5px"></div>
                    </div>
                </div>
            </div>
            <div class="kno-card">
                <div>
                    <div class="kno-f ">
                        <span class="kno-fh">Address: </span>
                        <span class="kno-fv">{{item.address}}</span>
                    </div>
                    <div class="kno-f ">
                        <span class="kno-fh">Free admission: </span>
                        <span class="kno-fv">{{item.freeTime}} {{item.donation}}</span>
                    </div>
                    <div class="kno-f ">
                        <span class="kno-fh">Web: </span>
                        <span class="kno-fv"><a href="{{item.website}}" target="_blank" >{{item.website | domain}}</a></span>
                    </div>
                </div>
            </div>


            <div class="kno-card">

                 <div id="beenhere-share" class="beenhere vote">
                  <div class="count">{{item.numVotesWantToGo}}</div>
                  <button class="beenhere-label voteButton voteButtonWantToGo" ng-class="item.voteClass" ng-show="item.canVoteWantToGo">
                    Been here
                  </button>
                </div>

                 <div id="wanttogo-share" class="wanttogo vote">
                  <div class="count">{{item.numVotesBeenThere}}</div>
                  <button class="wanttogo-label voteButton voteButtonBeenThere" ng-class="item.voteClass" ng-show="item.canVoteBeenThere">
                    Want to go
                  </button>
                </div>
            </div>


            <div id="sharebar" class="kno-card container_12">

        <a id="googleplus-share" class="googleplus" href="#" target="_blank">
            <img class="googleplus-icon" src="/img/facebook.png">
        </a>
        <a id="facebook-share" class="facebook" href="#" onclick="javascript:void window.open('http://www.facebook.com/sharer/sharer.php?u={{item.attractionContentUrl}}','1361370515039','width=650,height=280,toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=1,left=0,top=0');return false;" target="_blank">
            <img class="facebook-icon" src="/img/facebook.png">
        </a>
        <a id="twitter-share" class="twitter" href="#" onclick="javascript:void window.open('http://twitter.com/share?url={{item.attractionContentUrl}}','1361370074860','width=500,height=252,toolbar=0,menubar=0,location=0,status=1,scrollbars=0,resizable=1,left=0,top=0');return false;" target="_blank">
            <img class="twitter-icon" src="/img/twitter.png">
        </a>
        <a id="pinterest-share" class="pinterest" href="#" onclick="javascript:void window.open('http://twitter.com/share?url={{item.attractionContentUrl}}','1361370074860','width=500,height=252,toolbar=0,menubar=0,location=0,status=1,scrollbars=0,resizable=1,left=0,top=0');return false;" target="_blank">
            <img class="pinterest-icon" src="/img/twitter.png">
        </a>
        <!-- a id="beenhere-share" class="beenhere" href="#" target="_blank">
            <img class="beenhere-icon" src="/img/tumblr.png">
            <span class="beenhere-label">Been here</span>
        </a>
        <a id="wanttogo-share" class="wanttogo" href="#" target="_blank">
            <img class="wanttogo-icon" src="/img/tumblr.png">
            <span class="wanttogo-label">Want to go</span>
        </a -->



    </div>


        </div>

    </div>

