   <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" ng-show="showCarousel">
      <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-slide-to="0" class="active"></li>
        <li data-slide-to="1"></li>
		<li data-slide-to="2"></li>
      </ol>-->
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
		  <div class="carousel-caption">
          <div class="row">
        <div class="col-md-4">
          <img class="img-circle" src="/img/san-francisco.jpg">
          <h2>San Francisco</h2>
          <p><a class="btn btn-default btn-invert" ng-href="#/search/San+Francisco/@37.7749295,-122.41941550000001,10z/data=">See more &raquo;</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <img class="img-circle" src="/img/new-york.jpg">
          <h2>New York</h2>
          <p><a class="btn btn-default btn-invert" ng-href="#/search/New+York/@40.7143528,-74.0059731,13z/data=">See more &raquo;</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <img class="img-circle" src="/img/los-angeles.jpg">
          <h2>Los Angeles</h2>
          <p><a class="btn btn-default btn-invert" ng-href="#/search/Los+Angeles/@34.0522342,-118.2436849,12z/data=">See more &raquo;</a></p>
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
	  </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
		  <div class="carousel-caption">
          <div class="row">
        <div class="col-md-4">
          <img class="img-circle" src="/img/london.jpg">
          <h2>London</h2>
          <p><a class="btn btn-default btn-invert" ng-href="#/search/London/@51.51121389999999,-0.11982439999997041,11z/data=">See more &raquo;</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <img class="img-circle" src="/img/brussels.jpg">
          <h2>Brussels</h2>
            <p><a class="btn btn-default btn-invert" ng-href="#/search/Brussels/@50.8503396,4.351710300000036,13z/data=">See more &raquo;</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <img class="img-circle" src="/img/paris.jpg">
          <h2>Paris</h2>
            <p><a class="btn btn-default btn-invert" ng-href="#/search/Paris/@48.856614,2.3522219000000177,15z/data=">See more &raquo;</a></p>
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
          </div>
		  </div>
        </div>
		<div class="item">
          <div class="container">
            <div class="carousel-caption">
          <div class="row">
        <div class="col-md-4">
          <img class="img-circle" src="/img/moscow.jpg">
          <h2>Moscow</h2>
            <p><a class="btn btn-default btn-invert" ng-href="#/search/Moscow/@55.755826,37.6173,13z/data=">See more &raquo;</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <img class="img-circle" src="/img/tokyo.jpg">
          <h2>Tokyo</h2>
            <p><a class="btn btn-default btn-invert" ng-href="#/search/Tokyo/@35.6894875,139.69170639999993,11z/data=">See more &raquo;</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <img class="img-circle" src="/img/lisbon.jpg">
          <h2>Lisbon</h2>
            <p><a class="btn btn-default btn-invert" ng-href="#/search/Lisbon/@=38.7252993,-9.150036399999976,12z/data=">See more &raquo;</a></p>
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
          </div>
          </div>
        </div>

      </div>


      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->