<!DOCTYPE html>
<html>
<head>
    <title>add attraction</title>
    <style type="text/css">
        label {
            display: block;
            font-weight: bold;
        }
        label {
            display: block;
            font-weight: bold;
        }
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

</head>
<body>
{% include "common_header.html" %}

<button id="signinButton" class="g-signin"
        data-scope="https://www.googleapis.com/auth/plus.login"
        data-clientid="538920374889.apps.googleusercontent.com"
        data-callback="onSignInCallback"
        data-theme="dark"
        data-cookiepolicy="single_host_origin"
        data-requestvisibleactions="http://schemas.google.com/AddActivity"
        data-width="wide">
    </button>

    <h2>Authentication Logs</h2>
    <pre id="authResult"></pre>

    <div id="profile"></div>



<form action="/api/attractions" method="post">

    <label for="country">country</label> <input name="country" value="Australia" id="country">
    <label for="city">city</label> <input name="city" value="Sydney" id="city">
    <label for="name">name</label> <input name="name" value="Nicholson Museum" id="name">
    <label for="category">category</label>
    <select name="category" id="category">
        <option value="unknown">unknown</option>
        <option value="Museum">Museum</option>
        <option value="Memorial">Memorial</option>
        <option value="Zoo">Zoo</option>
        <option value="Botanical garden">Botanical garden</option>
        <option value="Park">Park</option>
        <option value="Church">Church</option>
        <option value="Factory">Factory</option>
        <option value="Library">Library</option>
    </select>

    <label for="address">address</label> <input name="address" value="University of Sydney, Manning Rd, Camperdown, Sydney, New South Wales (NSW) 2050, Australia" id="address">
    <label for="latlong">latlong</label> <input name="latlong" value="-33.886395,151.188784" id="latlong">
    <label for="free_time">free_time</label> <input name="free_time" value="" id="free_time">
    <label for="donation">donation</label> <input name="donation" value="" id="donation">
    <label for="website">website</label> <input name="website" value="http://sydney.edu.au/museums/collections/nicholson.shtml" id="website">
    <label for="source">source</label> <input name="source" value="http://sydney.edu.au/museums/collections/nicholson.shtml" id="source">
    <label for="email">email</label> <input name="email" value="nicholson.museum@sydney.edu.au" id="email">
    <label for="url_wikipedia">url_wikipedia</label> <input name="url_wikipedia" value="https://en.wikipedia.org/wiki/Nicholson_Museum" id="url_wikipedia">
    <label for="url_gpl">url_gpl</label> <input name="url_gpl" value="https://plus.google.com/108909432157220756495/about" id="url_gpl">
    <label for="url_tripadvisor">url_tripadvisor</label> <input name="url_tripadvisor" value="http://www.tripadvisor.com/Attraction_Review-g255060-d2587890-Reviews-Nicholson_Museum-Sydney_New_South_Wales.html" id="url_tripadvisor">
    <label for="url_yelp">url_yelp</label> <input name="url_yelp" value="http://www.yelp.com/biz/nicholson-museum-university-of-sydney" id="url_yelp">
    <label for="url_facebook">url_facebook</label> <input name="url_facebook" value="https://www.facebook.com/pages/Nicholson-Museum/6709418142" id="url_facebook">
    <label for="url_twitter">url_twitter</label> <input name="url_twitter" value="https://twitter.com/NicholsonMuseum" id="url_twitter">
    <label for="url_youtube">url_youtube</label> <input name="url_youtube" value="" id="url_youtube">
    <label for="url_instagram">url_instagram</label> <input name="url_instagram" value="" id="url_instagram">
    <label for="url_android">url_android</label> <input name="url_android" value="" id="url_android">
    <label for="url_ios">url_ios</label> <input name="url_ios" value="" id="url_ios">

    <input type="submit" value="submit">
</form>

<script type="text/javascript">

function onSignInCallback(authResult) {
    console.log(authResult, 'onSignInCallback');

  if (authResult['access_token']) {
    // Successfully authorized
    //document.getElementById('signinButton').setAttribute('style', 'display: none');

        $.ajax({
        type: 'POST',
        url: '/api/connect',
        async: false,
        contentType: "application/json",
        data: JSON.stringify(authResult),
        dataType: 'json',
        success: function(authResult) {
          // Do something now that user is disconnected
          // The response is always undefined.
            console.log('success', authResult);

           $('#authResult').html('Auth Result:<br/>');
          for (var field in authResult) {
            $('#authResult').append(' ' + field + ': ' + authResult[field] + '<br/>');
          }
        },
        error: function(e) {
          // Handle the error
          console.log(e);
          // You could point users to manually disconnect if unsuccessful
          // https://plus.google.com/apps
        }
      });


  } else if (authResult['error']) {
    // There was an error.
    // Possible error codes:
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatially log in the user
    // console.log('There was an error: ' + authResult['error']);
  }
}

    function disconnectUser(access_token) {
  var revokeUrl = 'https://accounts.google.com/o/oauth2/revoke?token=' +
      access_token;

  // Perform an asynchronous GET request.
  $.ajax({
    type: 'GET',
    url: revokeUrl,
    async: false,
    contentType: "application/json",
    dataType: 'jsonp',
    success: function(nullResponse) {
      // Do something now that user is disconnected
      // The response is always undefined.
    },
    error: function(e) {
      // Handle the error
      // console.log(e);
      // You could point users to manually disconnect if unsuccessful
      // https://plus.google.com/apps
    }
  });
}



  /**
     * Retrieves and renders the authenticated user's Google+ profile.
     */
    function renderProfile() {
      var request = gapi.client.plus.people.get( {'userId' : 'me'} );
      request.execute( function(profile) {
          $('#profile').empty();
          if (profile.error) {
            $('#profile').append(profile.error);
            return;
          }
          helper.connectServer(profile.id);
          $('#profile').append(
              $('<p><img src=\"' + profile.image.url + '\"></p>'));
          $('#profile').append(
              $('<p>Hello ' + profile.displayName + '!<br />Tagline: ' +
              profile.tagline + '<br />About: ' + profile.aboutMe + '</p>'));
          if (profile.cover && profile.coverPhoto) {
            $('#profile').append(
                $('<p><img src=\"' + profile.cover.coverPhoto.url + '\"></p>'));
          }
        });
      $('#authOps').show('slow');
      $('#gConnect').hide();
    }
// Could trigger the disconnect on a button click
$('#revokeButton').click(disconnectUser);
</script>

   <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>
</body>
</html>