<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org">
<!-- paulirish.com/2008/conditional-css-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Affordable Culture</title>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css"/>
  <link rel="stylesheet" href="css/photohunt.css"/>
  <link rel="stylesheet" href="css/affordableculture.css"/>
  <link rel="stylesheet" href="css/gh-buttons.css"/>
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

  <script src="js/jquery.filedrop.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script type='text/javascript'>
  function startApp() {
    console.log('start');
    angular.bootstrap(document, ['affordableCulture']);
  }
  </script>
</head>
<body ng-controller="AffordableCultureCtrl" ng-cloak>
<div id="container">

    <header>
    <div id="topHeader">

      <div id="search" >
        <input type="text" ng-model="keywords" placeholder="desired location"/>
        <button ng-click="search()">search</button>
      </div>

      <div id="profileInfo" >
        <span id="signin" ng-show="immediateFailed">
          <span id="myGsignin"></span>
        </span>
        <span ng-show="userProfile">
	        <a target="_blank" href="{{userProfile.googlePublicProfileUrl}}">
	          <span class="name">{{userProfile.googleDisplayName}}</span>
	          <img ng-src="{{userProfile.googlePublicProfilePhotoUrl|profilePicture:32}}" />
	        </a>
	        <button class="button danger disconnect" ng-click="disconnect()" style="">
	           Disconnect
	         </button>
         </span>
      </div>
    </div>
    <div id="bottomHeader">
      <h2>Category
        <span id="todayTheme">{{selectedCategory.name}}</span>!
      </h2>
      <div>
        <button id="invite" class="button icon add primary" ng-show="themes">
          Invite your friends
        </button>
      </div>
      <div class="sort button-group">
        <button class="button icon clock" id="sortRecent"
            ng-class="recentButtonClasses"
            ng-click="orderBy('recent'); ">Recent</button>
        <button class="button icon like" id="sortPopular"
            ng-class="popularButtonClasses"
            ng-click="orderBy('popular');">Popular</button>
      </div>
    </div>
  </header>
  
  <section id="notification">{{notification}}</section>

  <section id="photoList">
   <ng-switch on="highlightedAttraction">
      <span ng-switch-when="undefined"></span>
      <div ng-switch-default id="selectedPhoto" class="contentGroup">
        <h3>Highlighted Attraction</h3>
        <ul>
          <li>
            <photo item="highlightedAttraction" delete-attraction="deletePhoto(photoId)">
          </li>
        </ul>
      </div>
    </ng-switch>
    <div class="contentGroup" ng-show="isSignedIn">
      <!-- <h3>My Photos</h3>
      <div id="uploadContainer" ng-show="canUpload()">
        <button upload-box
            upload-url="uploadUrl"
            on-complete="uploadedPhoto(photo)"
            id="upload">
        </button>
      </div> -->
      <ul id="myPhotos" ng-show="userPhotos.length">
        <li ng-repeat="attraction in userPhotos|orderBy:ordering">
          <attraction item="attraction" delete-photo="deletePhoto(photoId)"></attraction>
        </li>
      </ul>
    </div>
    <div id="friendsPhotos" class="contentGroup" ng-show="friendsAttractions.length">
      <h3>Photos from Friends</h3>
      <ul id="friendsPhotos">
        <li ng-repeat="attraction in friendsAttractions|orderBy:ordering">
          <attraction item="attraction" delete-photo="deletePhoto(friendsAttractionId)"></attraction>
        </li>
      </ul>
    </div>

    <!-- <div id="allPhotos" class="contentGroup" ng-show="allPhotos.length">
      <h3>All Attractions</h3>
      <ul id="allPhotos">
        <li ng-repeat="photo in allPhotos|orderBy:ordering">
          <photo item="photo" delete-photo="deletePhoto(photoId)"></photo>
        </li>
      </ul>
    </div> -->

    <div id="allAttractions" class="contentGroup" ng-show="allAttractions.length">
      <h3>All Attractions</h3>
      <ul id="allAttractions">
        <li ng-repeat="attraction in allAttractions|orderBy:ordering">
          <attraction item="attraction"></attraction>
        </li>
      </ul>
    </div>
  </section>

  <nav ng-show="categories" id="boxThemes">
    <div>
    <h3>Categories</h3>
      <ul id="recentThemes">
        <li ng-repeat="(key, value) in categories|limitTo:10">
          <span><a ng-click="selectCategory(key)">{{value.name}}</a></span>
          <span class="date">{{value.created|date:'longDate'}}</span>
        </li>
      </ul>
    </div>
    <div ng-show="friends">
      <h3>Friends using Free Attractions</h3>
      <ul id="friendList">
        <li ng-repeat="friend in friends | orderBy:'displayName'">
          <a href="{{friend.googlePublicProfileUrl}}"><img ng-src="{{friend.googlePublicProfilePhotoUrl|profilePicture:50}}"
              alt="{{friend.googleDisplayName}}" width="50" height="50"/>{{friend.googleDisplayName}}</a></li>
     </ul>
    </div>
  </nav>

  <footer>
...
  </footer>
</div>
  <script type="text/javascript">
  window.___gcfg = {
    parsetags: 'explicit'
  };
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/auth:plusone.js?onload=startApp';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  $(function() {
    $("#sort").buttonset();
  });
  </script>
</body>
</html>
