<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org">
<!-- paulirish.com/2008/conditional-css-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
  <meta charset="utf-8" />
  <meta name="fragment" content="!" />

    <title>Affordable Culture. See more, pay less.</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css"/>
	<!-- Custom styles for this template -->
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/affordableculture.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

  <script src="js/jquery.filedrop.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/maps.js"></script>
  <script type='text/javascript'>
  function startApp() {
    console.log('start');
    angular.bootstrap(document, ['affordableCulture']);
  }
  </script>

  </head>
<body ng-controller="AffordableCultureCtrl" ng-cloak>

    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
    	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	    </button>
            <a class="navbar-brand" href="/">Affordable Culture</a>
            <div class="nav-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">Search</a></li>
                <li><a href="#contact">About</a></li>
              </ul>
            </div>			



            <div id="profileInfo" class="navbar-form pull-right">
                <span id="signin" ng-show="immediateFailed">
                  <span id="myGsignin"></span>
                </span>

                <span ng-show="userProfile">
                <a target="_blank" href="{{userProfile.googlePublicProfileUrl}}">
                  <span class="name">{{userProfile.googleDisplayName}}</span>
                  <img ng-src="{{userProfile.googlePublicProfilePhotoUrl|profilePicture:32}}" />
                </a>
                 <button class="button danger disconnect btn btn-default" ng-click="disconnect()" style="">
                   Disconnect
                 </button>
                </span>
          </div>

			<form class="navbar-form pull-right">
				<input type="text" class="form-control" id="country" style="width: 400px;" ng-model="keywords" placeholder="desired location">
				<button type="submit" class="btn btn-default" id="countryButton"  ng-click="search()">Go!</button>
			</form>

          </div>


        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="map-canvas" class="opacity"></div>
    <div id="myCarousel" class="carousel slide" ng-show="showCarousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-slide-to="0" class="active"></li>
        <li data-slide-to="1"></li>
		<li data-slide-to="2"></li>
		<li data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
		  <div class="carousel-caption">
          <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="img/san-francisco.jpg">
          <h2>San Francisco</h2>
          <p><a class="btn btn-default" href="#!search/San Francisco">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/new-york.jpg">
          <h2>New York</h2>
          <p><a class="btn btn-default" href="#!search/New York">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/los-angeles.jpg">
          <h2>Los Angeles</h2>
          <p><a class="btn btn-default" href="#!search/Los Angeles">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
	  </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
		  <div class="carousel-caption">
          <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Stuttgart</h2>
          <p><a class="btn btn-default" href="#Stuttgart">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Munich</h2>
          <p><a class="btn btn-default" href="#Munich">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Berlin</h2>
          <p><a class="btn btn-default" href="#Berlin">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
          </div>
		  </div>
        </div>
		<div class="item">
          <div class="container">
            <div class="carousel-caption">
          <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>London</h2>
          <p><a class="btn btn-default" href="#London">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Birmingham</h2>
          <p><a class="btn btn-default" href="#Birmingham">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Glasgow</h2>
          <p><a class="btn btn-default" href="#Glasgow">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
          </div>
          </div>
        </div>
		<div class="item">
          <div class="container">
            <div class="carousel-caption">
          <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Rom</h2>
          <p><a class="btn btn-default" href="#Rom">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Florence</h2>
          <p><a class="btn btn-default" href="#Florence">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Venice</h2>
          <p><a class="btn btn-default" href="#Venice">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
          </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

	<div class="profile-list-area"></div>

    <div id="allAttractions" class="contentGroup" ng-show="allAttractions.length">
      <ul id="allAttractions">
        <li ng-repeat="attraction in allAttractions|orderBy:ordering" id="rhs">
          <attraction item="attraction"></attraction>
        </li>
      </ul>
    </div>


    </div><!-- /.container -->

  <!-- FOOTER -->
  <!--footer class="bs-footer">
    <p>&copy; 2013 Affordable Culture &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- script src="assets/js/jquery.js"></script -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/holder.js"></script>

  <script type="text/javascript">
  window.___gcfg = {
    parsetags: 'explicit'
  };
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/auth:plusone.js?onload=startApp';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();


  </script>
</body>
</html>
